<nav class="navbar">
    <div class="navbar__container">
        <div class="logo-container">
            <img src="UniRoom_white.svg" alt="Logo" class="logo" style="width: 100px; height: 80px;">
        </div>
        <a href="/" id="navbar__logo">
            UniRoom</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <form action="/Home" method="post">
                    <button type="submit" class="navbar__links">
                        Home
                    </button>
                </form>
            </li>
            <li class="navbar__item">
                <form action="/About" method="post">
                    <button type="submit" class="navbar__links">
                        About
                    </button>
                </form>
            </li>
            <li class="navbar__item">
                <form action="/SignInPage" method="post">
                    <button type="submit" class="navbar__links">
                        Sign In
                    </button>
                </form>
            </li>
            <li class="navbar__item">
                <form action="/Booking" method="post">
                    <input name="bNo" value="<%=1%>" hidden>
                    <input name="sRoom" value="<%=1%>" hidden>
                    <input name="eRoom" value="<%=12%>" hidden>
                    <input name="sDate" value="<%='2023-01-01'%>" hidden>
                    <input name="eDate" value="<%='2999-01-02'%>" hidden>
                    <input name="floor" value="<%=1%>" hidden>
                    <button type="submit" class="navbar__links">
                        Book A Room
                    </button>
                </form>
            </li>
            <li class="navbar__item">
                <form action="/Profile" method="post">
                    <button type="submit" class="navbar__links">
                        Profile
                    </button>
                </form>
            </li>
            <li class="navbar__item" style="color:#eaeaea">
                You're Not Signed In
            </li>
        </ul>
    </div>
</nav>