<!DOCTYPE html>
<html>
	<link rel=stylesheet href="/public/stylesheets/about.css"></link>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href='/style.css'>
	<%- include('../partials/head') %>
	
</head>
<body>
	<%- include('../partials/nav') %>
	<header>
		<h1>About Us</h1>
	</header>
	<main>
		<section>
			<h2>Our Mission</h2>
			<p><%= data.mission %></p>
		</section>
		<section>
			<h2>Our Team</h2>
			<% for(var i=0; i<data.teams.length; i++) { %>
			<h3><%= data.teams[i].name %></h3>
			<p><%= data.teams[i].description %></p>
			<% } %>
		</section>
	</main>
</body>
</html>
