<!DOCTYPE html>
<script>
  //let selectedBuilding=0;
  let selectedRoom = 0;
  // let selectedFloor=1;

  let dateStatus = 1;
  const ROOMS_PER_FLOOR = 12;
</script>

<html lang="en">
<%

    //let selectedBuilding=0;
    //if(typeof sBuilding !== undefined){
     // selectedBuilding= sBuilding;
    //}
    let selectedRoom = 0;
    // let selectedFloor=1;
    const ROOMS_PER_FLOOR = 12; 
    // sRoom = (selectedFloor -1)*12; //sroom: first room index to display based on selected floor
    // eRoom = sRoom + ROOMS_PER_FLOOR;

     // window.addEventListener('load', function () {
      console.log('booking.js loaded');
      function isAvailable(rid){
        //console.log("checking room "+rid);
        for(let i =0; i < bookings.length; i++){
          //console.log(bookings[i].roomid);
          //console.log(parseInt(rid));
          if(parseInt(rid) == bookings[i].roomid){
            //console.log("room unavailable");
            return false;
          }
        }
        return true;
      } 
      //isAvailable(11);
    %>

<head>
  <%- include('../partials/head') %>
  <script src='/booking.js' type="text/js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href='/style.css'>
  <link rel="stylesheet" type="text/css" href='/booking.css'>

</head>

<body>
  <%- include('../partials/nav') %>
  <div class='grid-container'>
    <div class="grid-item" id="header">
      <%let sD=new Date(sDate); let eD = new Date(eDate);%>
      <%if(eD.getYear() < 198){%>
        <h2>Showing rooms available from <%= sD.toLocaleString('en-GB', {'dateStyle':"long"})%> 
        to <%=eD.toLocaleString('en-GB', {'dateStyle':"long"})%></h2>
      <%} else {%>
        <h2>Please Select Booking Range Below</h2>
      <%}%>
    </div>
    <div class='grid-item' id='select-time'>
      <h2>Select Booking Range</h2>
      <button id="termBtn"  hidden onclick="selectTerm()">Term</button>
      <button id="dateBtn"  class="bookbtn selected" onclick="selectDate()">Date</button>
      <br>
      <form action="/Booking" method="post">
        <input name="bNo" value="<%=sBuilding%>" hidden>
        <input name="sRoom" value="<%=sRoom%>" hidden>
        <input name="eRoom" value="<%=eRoom%>" hidden>
        <input name="floor" value="<%=selectedFloor%>" hidden>
        <div id='date-selection' >
          <label for="start-date">
            <h3 class="time">Start Date</h3>
            <input type=date id="start-date" name="sDate">
          </label>
          <br>
          <label for="end-date" class="time">
            <h3 class="time">End Date</h3>
            <input type=date id="end-date" name="eDate">
          </label>
        </div>
        <div id="term-selection" hidden>
          <label class="term-row time">
            <input type="checkbox" class="term-checkbox">
            <span class="checkmark"></span>
            Fall 2023/2024
          </label>
          <br>
          <label class="term-row time">
            <input type="checkbox" class="term-checkbox">
            <span class="checkmark"></span>
            Spring 2023/2024
          </label>
          <br>
          <label class="term-row time">
            <input type="checkbox" class="term-checkbox" name="sum2324">
            <span class="checkmark"></span>
            Summer 2023/2024
          </label>


        </div>
        <button type="submit" id="find-avail-rooms" class="bookbtn time submit">
          Find Available Rooms
        </button>
      </form>
    </div>
    <div class='grid-item' id='select-building'>
      <div id='Btitle' class='building-grid-item'>
        <h2>Select building</h2>
      </div>
      <%b_data.forEach(b => {
        %>
      <form action="/Booking" method="post">
        <div id='B<%=b.BuildingNo%>' class='building-grid-item'>
          <input name="sRoom" value="<%=sRoom%>" hidden>
          <input name="eRoom" value="<%=eRoom%>" hidden>
          <input name="sDate" value="<%=sDate%>" hidden>
          <input name="eDate" value="<%=eDate%>" hidden>
          <input name="floor" value="<%=selectedFloor%>" hidden>
          <button type='submit' id="Bbtn<%=b.BuildingNo%>" class="bookbtn building-btn <%if(b.BuildingNo==sBuilding){%>selected<%}else if (userdata==null || b.BuildingNo==7 ||(b.BuildingNo>3 && userdata.Gender=='M') || (b.BuildingNo <4 && userdata.Gender=='F')) {%> unavailable<%} else {%>available<%}%>" 
            onclick="selectBuilding('<%= b.BuildingNo%>')" name="bNo" value="<%=b.BuildingNo%>"
            <%if (userdata==null || (b.BuildingNo>3 && userdata.Gender=='M') || (b.BuildingNo <4 && userdata.Gender=='F')){%>disabled="true"<%}%>>
            Building <h2><%= b.BuildingNo %></h2>
            <% if(b.BuildingNo == 7){%>
              <p style="font-size:12px">Building Unavailable</p>
            <%} else if (userdata==null || (b.BuildingNo>3 && userdata.Gender=='M'))  {%>
              <p style="font-size:12px">Female Students Only</p>
            <%} else if(userdata==null || (b.BuildingNo < 4 && userdata.Gender=='F')){%>
               <p style="font-size:12px"> Male Students Only</p>
            <%}%>
          </button>
        </div>
      </form>

      <% 
      });%>
    </div>
    <div class='grid-item' id='select-room'>
      <div class='box-title' id='room-title'>
        <%if(sBuilding > 0) {%>
        <h2>Select Room in Building <%=sBuilding%></h2>
        <% } else { %>
        <h2>Please Select a Building</h2>
        <% } %>

      </div>


      <!-- ROOM SELECTION VIEW -->
      <% 
      /**
       *  APARTMENT generation: 3 rooms per apartment
       */
        // sRoom = (selectedFloor -1)*12; //sroom: first room index to display based on selected floor
        // eRoom = sRoom + ROOMS_PER_FLOOR; //eroom: one more than last room index to display;
        for(let i=0;i<ROOMS_PER_FLOOR;i+=3) {
          

      %>
      <div class='apartment' id="apt-<%=(r_data[i].RoomNo / 3)+1%>">

        <button
          class=' bookbtn room <%if(r_data[i].RoomStatus==0 && isAvailable(r_data[i].RoomID)){%>available<%} else{%>unavailable<%}%>' id='room-<%=r_data[i].RoomNo%>' 
          <%if(!isAvailable(r_data[i].RoomID)){%>enabled="false"<%} else {%> onclick="selectRoom('<%=r_data[i].RoomNo%>')" <%}%>>
          Room <h2> <%=r_data[i].RoomNo%> </h2>
          <%if(r_data[i].RoomStatus==0 && isAvailable(r_data[i].RoomID)){%> Available <%} else{%> Occupied
          <%}%>
        </button>

        <button class='bookbtn room <%if(r_data[i+1].RoomStatus==0 && isAvailable(r_data[i+1].RoomID)){%>available<%} else{%>unavailable<%}%>' id='room-<%=r_data[i+1].RoomNo%>'
          <%if(!isAvailable(r_data[i+1].RoomID)){%>enabled="false"<%} else {%> onclick="selectRoom('<%=r_data[i+1].RoomNo%>')" <%}%>>
          Room <h2><%=r_data[i+1].RoomNo%></h2>
          <%if(r_data[i+1].RoomStatus==0 && isAvailable(r_data[i+1].RoomID)){%> Available <%} else{%> Occupied
          <%}%>
        </button>

        <button class='bookbtn room <%if(r_data[i+2].RoomStatus==0 && isAvailable(r_data[i+2].RoomID)){%>available<%} else{%>unavailable<%}%>' id='room-<%=r_data[i+2].RoomNo%>' 
          <%if(!isAvailable(r_data[i+2].RoomID)){%>enabled="false"<%} else {%> onclick="selectRoom('<%=r_data[i+2].RoomNo%>')" <%}%>>
          Room <h2><%=r_data[i+2].RoomNo%></h2>
          <%if(r_data[i+2].RoomStatus==0 && isAvailable(r_data[i+2].RoomID)){%> Available <%} else{%> Occupied <%}%>
        </button>

      </div>
      <%
          
        }
      %>
      </div>
      <div class='grid-item' id='select-floor'>
        <div class='box-title'>
          <h2>Select Floor</h2>
        </div>
        <% for(let i=6; i>=1; i--){ %>
        <form action="/Booking" method="post">
          <input name="bNo" value="<%=sBuilding%>" hidden>
          <input name="floor" value="<%=i%>" hidden>
          <input name="sRoom" value="<%=((i-1)*12)+1%>" hidden>
          <input name="eRoom" value="<%=((i-1)*12)+ROOMS_PER_FLOOR%>" hidden>
          <input name="sDate" value="<%=sDate%>" hidden>
          <input name="eDate" value="<%=eDate%>" hidden>
          <button type="submit" class='bookbtn floor <%if(selectedFloor==i){%>selected<%} else {%>available<%}%>' 
            id='floor-<%=i%>' onclick="selectFloor('<%=i%>')"><h2><%=i%></h2>
          </button>
        </form>
        <%}%>

    </div>
    <div class='grid-item' id='selection-info'>
      <h2>Booking Information </h2>
      <% if(r_data != null){ %>
        <div id="si-start">Booking Start: <b><%if(new Date(eDate).getYear() < 198){%><%=new Date(sDate).toLocaleString('en-GB', {'dateStyle':"long"})%><%}%></b> </div>
        <div id="si-end">Booking End: <b><%if(new Date(eDate).getYear() < 198){%> <%=new Date(eDate).toLocaleString('en-GB', {'dateStyle':"long"})%> <%}%></b> </div>
        <div id="si-building">Building: <b><%=sBuilding%> </b></div>
        <div id="si-roomNo">Room Number: </div>
      <% } %>
      <br>
      <form action="/Payment" method="post">
        <input name="bNo" value="<%=sBuilding%>" hidden>
        <input name="sDate" value="<%=sDate%>" hidden>
        <input name="eDate" value="<%=eDate%>" hidden>
        <input id="submit-rNo" name="rNo" value="<%=selectedRoom%>" hidden>
        <% if(userdata==null){%>
          Sign in or Sign up to Book a Room
        <%}%>
        <button type="submit" class="button bookbtn submit <%if(userdata==null){%>unavailable<%}%>" <%if(userdata==null){%>disabled="true"<%}%>>
          Proceed to Payment
        </button>
      </form>
      </div>

    </div>

</body>

</html>
<script>
  
  let selectTerm = function () {
    dateStatus = 0;
    console.log("term");
    document.getElementById("term-selection").hidden = false;
    document.getElementById("date-selection").hidden = true;
    document.getElementById('termBtn').classList.add('selected');
    document.getElementById('dateBtn').classList.remove('selected');
  };
  let selectDate = function () {
    dateStatus = 1;
    console.log("date");
    document.getElementById("term-selection").hidden = true;
    document.getElementById("date-selection").hidden = false;
    document.getElementById('termBtn').classList.remove('selected');
    document.getElementById('dateBtn').classList.add('selected');
  };

  function selectFloor(n) {
    if (document.getElementById('floor-<%=selectedFloor%>') != null) {
      //console.log(document.getElementById('Bbtn<%=sBuilding%>'));
      document.getElementById('floor-<%=selectedFloor%>').classList.remove('selected');
    }
    console.log("selected floor " + n);
    // selectedFloor = n;
    document.getElementById('floor-<%=selectedFloor%>').classList.add('selected');
    // sRoom = (n -1)*12;
    // eRoom = sRoom + ROOMS_PER_FLOOR;

  };

  function selectBuilding(bNo) {
    if (document.getElementById('Bbtn' + sBuilding) != null) {
      console.log(document.getElementById('Bbtn<%=sBuilding%>'));
      document.getElementById('Bbtn' + sBuilding).classList.remove('selected');
    }
    console.log("selected building " + bNo);
    sBuilding = bNo;
    document.getElementById('room-title').innerText = "Select Room in Building " + bNo;
    document.getElementById('Bbtn' + sBuilding).classList.add('selected');
    window.history.pushState("", "", '/');
  };

  function selectRoom(rNo) {
    if (document.getElementById('room-' + selectedRoom) != null) {
      //console.log(document.getElementById('Bbtn<%=sBuilding%>'));
      document.getElementById('room-' + selectedRoom).classList.remove('selected');
    }
    console.log("selected room " + rNo);
    selectedRoom = rNo;
    document.getElementById("submit-rNo").value=selectedRoom;
    document.getElementById("si-start").innerHTML = "Booking Start: <b><%=new Date(sDate).toLocaleString('en-GB', {'dateStyle':"long"})%></b>";
    document.getElementById("si-end").innerHTML = "Booking End: <b><%=new Date(eDate).toLocaleString('en-GB', {'dateStyle':"long"})%></b>";
    document.getElementById("si-building").innerHTML = "Building: <b><%=sBuilding%></b>";
    document.getElementById("si-roomNo").innerHTML = "Room Number: <b>"+rNo+"</b>";

    document.getElementById('room-' + rNo).classList.add('selected');
  };
</script>