    <!DOCTYPE html>
    <html lang="en">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" type="text/css" href='/style.css'>
    </head>
    <body>
        <%- include('../partials/nav') %>

        <div class="main">
            <div class="main__container">
                <div class="main__content">
                    <h3 class="bookingHead">Cost and Payment</h3>
                    <p style="font-size: medium;" class="bookingInfo">Booking Cost:</p>
                    <p style="font-size: medium;"class="bookingInfo">Extra Cost(s):</p>
                    <div class="textA">
                    <label class="bookingInfo">Cardholder Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" name="" id="payName" class="payTA"><br>
                    </div>
                    <div class="textA">
                    <label class="bookingInfo">Credit Card Number:</label>
                    <input type="text" name="" id="payCC" class="payTA"><br>
                    </div>
                    <div class="textA">
                    <label class="bookingInfo">CVC: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="password" name="" id="payCVC" class="payTA"><br>
                    </div>
                    <div class="textA">
                    <label class="bookingInfo">Billing Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" name="" id="payAddress" class="payTA"><br>
                </div>
                </div>
                <div class="main__img--container">
                    <h3 class="bookingHead">Booking Information <br> <br></h3>
                    <p id="bookNum" class="bookingInfo">Booking Number:  </p>
                    <p id="bookNum" class="bookingInfo">Building Number: <%=bNo%> </p>
                    <p id="floorNum" class="bookingInfo">Floor Number: <%=sFloor%> </p>
                    <p id="roomNum" class="bookingInfo">Room Number: <%=rNo%> </p>
                    <p id="bookLen" class="bookingInfo">Duration of Stay: <%= new Date(sDate).toLocaleString('en-GB', {'dateStyle':"long"})%> to <%= new Date(eDate).toLocaleString('en-GB', {'dateStyle':"long"})%></p>
                    <p id="bookName" class="bookingInfo">Booking under the Name: </p>
                    <p id="UID" class="bookingInfo">University ID: </p>
                    <p id="UMail" class="bookingInfo">University Email: </p>
                </div>
            </div>
            <form action="/ConfirmBooking" method="post">
                <input name="bNo" value="<%=bNo%>" hidden> 
                <input name="rNo" value="<%=rNo%>" hidden> 
                <input name="sDate" value="<%=sDate%>" hidden>
                <input name="eDate" value="<%=eDate%>" hidden>    
                <button id="submit" class="main__btn" type="submit">Submit Payment</button>
            </form>
            
            <p style="font-size: medium;" class="bookingInfo">Your Transaction is Secured.</p>
        </div>
        <script src="app.js"></script>
    </body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
background: rgb(85,57,57);
background: -moz-radial-gradient(circle, rgba(85,57,57,1) 0%, rgba(112,79,79,1) 0%, rgba(71,45,45,1) 57%);
background: -webkit-radial-gradient(circle, rgba(85,57,57,1) 0%, rgba(112,79,79,1) 0%, rgba(71,45,45,1) 57%);
background: radial-gradient(circle, rgba(85,57,57,1) 0%, rgba(112,79,79,1) 0%, rgba(71,45,45,1) 57%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#553939",endColorstr="#472d2d",GradientType=1);

  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

button {
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  margin-top: 2rem;
}
 .main {
    margin-top: 2rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #4D4545;
    padding: 0 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    margin: 0 15px;
}

.navbar__item a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar__item a:hover {
    color: #00bcd4;
}

  .main__container {
    flex-direction: column;
    align-items: center;
  }

  .main__img--container {
    margin-top: 2rem;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #4D4545;
    padding: 0 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    margin: 0 15px;
}

.navbar__item a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar__item a:hover {
    color: #00bcd4;
}


.button-secondary {
  background-color: #ffffff;
  color: #ffffff;
}

.button-outline {
  border: 2px solid #ED8D8D;
  background-color: transparent;
  color: #ED8D8D;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.button-outline:hover {
  background-position: right center;
  color: #ffffff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.alert {
  background-color: #ED8D8D;
  color: #ffffff;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.alert-success {
  background-color: #8D6262;
}

.alert-warning {
  background-color: #4D4545;
}

.alert-info {
  background-color: #393232;
}

.bookingHead {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}

.bookingInfo {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.textA {
  margin-bottom: 1rem;
}

.payTA {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.6rem;
  width: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main__content {
  flex: 1;
}

.main__img--container {
  flex: 1;
  margin-left: 2rem;
}

.main__btn {
  display: block;
  margin: 4rem auto 2rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .main {
    margin-top: 2rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #f1f1f1;
    padding: 0 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    margin: 0 15px;
}

.navbar__item a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar__item a:hover {
    color: #00bcd4;
}

  .main__container {
    flex-direction: column;
    align-items: center;
  }

  .main__img--container {
    margin-top: 2rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #f1f1f1;
    padding: 0 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    margin: 0 15px;
}

.navbar__item a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar__item a:hover {
    color: #00bcd4;
}


</style>
    </html>

   