<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="/profile.css"></link>
    <link rel=stylesheet href="/style.css"></link>

    <title>Profile</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <div id="profilecontainer">
        <div class='tablecontainer' id="profile">
            <h1>Profile</h1>
            <p>Name: <%=userdata.Fname%> <%=userdata.Lname%></p>
            <p>Email: <%=userdata.Universityemail%></p>
            <p>Username: <%=userdata.Username%></p>
            <p>Phone: <%=userdata.Phone%></p>
            <p>Gender: <%=userdata.Gender%></p>
        </div>
        <div class="tablecontainer" id="bookings">
            <h2>Bookings History</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Building</th>
                        <th>Room</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% bookings.forEach(booking => { %>
                    <tr>
                        <td><%=(""+booking.roomid).charAt(0)%></td>
                        <td><%=booking.RoomNo%></td>
                        <td><%=new Date(booking.StartTime).toLocaleString('en-GB', {'dateStyle':"short"})%></td>
                        <td><%=new Date(booking.EndTime).toLocaleString('en-GB', {'dateStyle':"short"})%></td>
                    </tr>
                    <%}); %>
                </tbody>
        
            </table>
        </div>
    </div>
    
</body>
</html>