<!DOCTYPE html>
<script>
  let selectedBuilding=0;
  let selectedFloor=1;
  const ROOMS_PER_FLOOR = 12; 
</script>

<html lang="en">
  <%
    let selectedBuilding=0;
    let selectedFloor=1;
    const ROOMS_PER_FLOOR = 12; 
     // window.addEventListener('load', function () {
      console.log('booking.js loaded');

    %>
<head>
  <%- include('../partials/head') %>
  <script src='/booking.js' type="text/js"></script>
  <link rel="stylesheet" type="text/css" href='/style.css'>
  
</head>

<body>
  <%- include('../partials/nav') %>


  <div class='grid-container'>
    <div class='grid-item' id='select-time'>
      Select Booking Range <br>
      

      <button id="termBtn" onclick="selectTerm()">Term</button> 
      <button id="dateBtn" onclick="selectDate()">Date</button>
      <br>
      <div id='date-selection' hidden>
        <label for="start-date">Start Date
          <br>
        <input type=date id="start-date" name="start-date">
        </label>
        <br>
        <label for="end-date">End Date
          <br>
        <input type=date id="end-date" name="End of Booking">
        </label>
      </div>
      <div id="term-selection">
      <label class="term-row">
        <input type="checkbox" class="term-checkbox">
        <span class="checkmark"></span>
        Fall 2023/2024
      </label>
      <br>
      <label class="term-row">
        <input type="checkbox" class="term-checkbox">
        <span class="checkmark"></span>
        Spring 2023/2024
      </label>
      <br>
      <label class="term-row">
        <input type="checkbox" class="term-checkbox">
        <span class="checkmark"></span>
        Summer 2023/2024
      </label>
    </div>
    </div>
    <div class='grid-item' id='select-building'>
      <div id='Btitle' class='building-grid-item'>
        Select building
      </div>
      <%b_data[0].forEach(b => {
        %>
        <div id='B<%=b.BuildingNo%>' class='building-grid-item'>
          <button id="Bbtn<%=b.BuildingNo%>" class="building-btn <%if(b.AvailableRooms >0){%>available<%} else if(b.BuildingNo==selectedBuilding){%>selected<%}else{%>unavailable<%}%>" 
            onclick="selectBuilding('<%= b.BuildingNo%>')" 
            <%if(b.AvailableRooms ==0){%> disabled <%}%> >
            Building <%= b.BuildingNo %><br> Available Rooms:<%=b.AvailableRooms%>
          </button>
        </div>

         <%
      });%>
    </div>
    <div class='grid-item' id='select-room'>
      <div class='box-title' id='room-title'>
        <%if(selectedBuilding > 0) {%>
          Select Room in Building $(selectedBuilding)
        <% } else { %>
          Please Select a Building
        <% } %>
        <%=b_data[1][0]%>
      </div>
      <!-- ROOM SELECTION VIEW -->
      <% let sRoom = (selectedFloor -1)*12; //sroom: first room index to display based on selected floor
        let eRoom = sRoom + ROOMS_PER_FLOOR //eroom: one more than last room index to display;
      for(let i=sRoom;i<eRoom;i+=3) {
        if(i<b_data[1].length){
        %>
      <div class='apartment' id="apt-<%=b_data[1][(i/3)+1].ApartmentNo%>">
        <div class='room <%if(b_data[1][i].RoomStatus==0){%>available<%} else{%>unavailable<%}%>' id='room-<%=b_data[1][i].RoomNo%>' >
          Room <%=b_data[1][i].RoomNo%> <br>
          <%if(b_data[1][i].RoomStatus==0){%> Available <%} else{%> Occupied <%}%>
        </div>
        <div class='room <%if(b_data[1][i+1].RoomStatus==0){%>available<%} else{%>unavailable<%}%>' id='room-<%=b_data[1][i+1].RoomNo%>'>
          Room <%=b_data[1][i+1].RoomNo%> <br>
          <%if(b_data[1][i+1].RoomStatus==0){%> Available <%} else{%> Occupied <%}%>
        </div>
        <div class='room <%if(b_data[1][i+2].RoomStatus==0){%>available<%} else{%>unavailable<%}%>' id='room-<%=b_data[1][i+2].RoomNo%>'>
          Room <%=b_data[1][i+2].RoomNo%> <br>
          <%if(b_data[1][i+2].RoomStatus==0){%> Available <%} else{%> Occupied <%}%>
        </div>
      </div>
      <%
          }
        }
      %>
    </div>
    <div class='grid-item' id='select-floor'>
      <div class='box-title'>
        Select Floor
      </div>
      <div class='floor' id='floor-1'>1</div>
      <div class='floor' id='floor-2'>2</div>
      <div class='floor' id='floor-3'>3</div>
      <div class='floor' id='floor-4'>4</div>
      <div class='floor' id='floor-5'>5</div>
    </div>
    <div class='grid-item' id='selection-info'>
      Room Information 
            <a href="Payment.html">Proceed to Payment</a>
    </div>

  </div>

</body>

</html>
<script>

    let selectTerm = function() {
      dateStatus = 0;
      console.log("term");
      document.getElementById("term-selection").hidden= false;
      document.getElementById("date-selection").hidden= true;
    };
    let selectDate = function() {
      dateStatus = 0;
      console.log("date");
      document.getElementById("term-selection").hidden= true;
      document.getElementById("date-selection").hidden= false;
    };
    function selectBuilding(bNo) {
      if(document.getElementById('Bbtn'+selectedBuilding)!=null){
        console.log(document.getElementById('Bbtn<%=selectedBuilding%>'));
        document.getElementById('Bbtn'+selectedBuilding).classList.remove('selected');
      }
      console.log("selected building "+bNo);
      selectedBuilding = bNo;
      document.getElementById('room-title').innerText = "Select Room in Building "+bNo;
      document.getElementById('Bbtn'+selectedBuilding).classList.add('selected');
    };
</script>

